{% extends "base.html" %}
{% block title%}Home{% endblock%}

{% block content %}
<style>
    .home{
        color: #fff;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        
    }
    body{
        min-height: 100vh;
    }
    h3, h2{
        margin: 2rem;
        font-weight: 800;
        font-size: 5rem;
        color: #d32e62;

    }
    a{
        text-decoration: none;
    }
    .display{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
        padding: 40px 20px;
    }
    .menu-container{
        background-color: #E8D5B2;
        border: 1px solid #B4A059;
        padding: 20px;
        width: 300px;
        box-sizing: 0 4px 8px rgba(0,0,0,0.05);
        text-align: center;
        display: block;
        align-items: center;
        border-radius: 20px;
    }
    .menu-container h4{
        color: #000;
        font-size: 20px;
        margin-bottom: 1rem;
    }
    .menu-container blockquote{
        margin-top: 10px;
    }

    .menu-container img {
        margin-top: 5px;
            width: 100%;
            height: 180px;
            object-fit: cover;
        }

    .menu-container:hover{
        background-color: bisque;
    }
    .btn{
    padding: 12px 32px;
    font-size: 1rem;
    text-transform: uppercase;
    background-color: rgb(248, 217, 15);
    color: #222;
    border: 1px solid #fff;
    font-weight: 600;
    cursor: pointer;
}
.btn:hover{
    background: transparent;
    color: black;
    transition: 0.3s;
}
.welcome{
    color: #d32e62;
    font-size: 1rem;
    text-align: right;
}
</style>

<h1 class="home" style="color: yellow;">Welcome to DoughDev Pizza</h1>
<h2 class="home">We have the best of the best pizza.</h2>
<a href="/menu"><h3 align="center">Order Now</h3></a>
<section class="display">
<div class="menu-container">
    <h4>Tuna</h4>
    <img src="{{ url_for('static', filename='tuna.jpeg') }}" alt="Tuna">
    <blockquote></blockquote>

    <button class="btn"><a href="{{ url_for('views.add_to_cart', pizza_id=1) }}">Add To Cart</a>
</button>
</div>
<div class="menu-container">
    <h4>Pepperoni</h4>
    <img src="{{ url_for('static', filename='pepperoni1.jpg') }}" alt="Tuna">
    <blockquote>If you like Pepperoni, you'll love this pizza.</blockquote>

   <button class="btn"><a href="{{ url_for('views.add_to_cart', pizza_id=2) }}">Add To Cart</a>
</button>
</div>
<div class="menu-container">
    <h4>Four Cheese</h4>
    <img src="{{ url_for('static', filename='four cheese.jpg') }}" alt="Tuna">
    <blockquote></blockquote>

    <button class="btn"><a href="/menu">View More on Menu</a></button>
</div>
</section>
{% endblock%}