{% extends "base.html"  %}

{% block title %} Sign Up {% endblock %}

{% block content%}
<style>
.signup-container {
  background: #d32e62;
  opacity: 100%;
  padding: 2rem;
  border-radius: 10px;
  width: 300px;
  margin: 5% auto;
  color: #fff;
  text-align: center;
}

.signup-container h2 {
  margin-bottom: 1.5rem;
}

.signup-container label {
  display: block;
  text-align: left;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.signup-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 1rem;
  border: none;
  border-radius: 5px;
}

.signup-container button {
  width: 100%;
  padding: 10px;
  background: #ff9800;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s ease;
}

.signup-container button:hover {
  background: #e68900;
}
</style>
<div class="signup-container">
<h3 align="center">Sign Up</h3>
<form method="POST">
    <label >Username:</label>
    <input type="text" name="username" required><br><br><br>

    
    <label >Email:</label>
    <input type="text" name="email" required><br><br>

    <label >Password:</label>
    <input type="text" name="password" required><br><br><br>



    <button type="submit" class="btn">Sign Up</button>
</form>
</div>
{% endblock %}